<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <!--<h1 class="page-header">Welcome!</h1>-->
<div class="container">

    <div class="col-sm-4">
        <img src="images/sampleNYSE.JPG" class="img-responsive" alt="test background"  width="300" height="236">
        <h2>NYSE</h2>
        <h3>24,242</h3>
        <h3 class="text-success">+422 &nbsp; +2.15%</h3>

    </div>

    <div class="col-sm-4">
        <img src="images/sampleDOW.JPG" class="img-responsive" alt="test background" width="300" height="236">
        <h2>DOW JONES</h2>
        <h3>18,345</h3>
        <h3 class="text-success">+221 &nbsp; +2.15%</h3>
    </div>
</div>



</div>

