<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Profile</h1>


            <form class="form-horizontal" ng-controller="ProfileController">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input ng-model="newUser.username" type="text" class="form-control" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword1" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input  ng-model="newUser.password" type="password" class="form-control" id="inputPassword1" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input ng-model="newUser.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input ng-model="newUser.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="update(newUser)" class="btn btn-primary btn-block">Update</button>
                    </div>
                </div>
            </form>
</div>
