<h1>Admin</h1>

<h2>User List</h2>
<table class="table table-striped">
    <tr>
        <td>&nbsp;</td>
        <td><input ng-model="currentUser.username" class="form-control" placeholder="username"/></td>
        <td><input ng-model="currentUser.password" class="form-control" type="password" placeholder="password"/></td>
        <td><input ng-model="currentUser.firstName" class="form-control" placeholder="first"/></td>
        <td><input ng-model="currentUser.lastName" class="form-control" placeholder="last"/></td>
        <td><input ng-model="currentUser.email" class="form-control" type="email" placeholder="email"/></td>
        <td><input ng-model="currentUser.roles" class="form-control" placeholder="roles"/></td>
        <td><button ng-click="add(currentUser)" class="btn btn-primary">&plus;</button>
        <td><button ng-click="update(currentUser)" class="btn btn-success">&check;</button>
    </tr>

    </tr>
    <tr ng-repeat="cuser in users">
        <td>{{cuser._id}}</td>
        <td>{{cuser.username}}</td>
        <td>&nbsp;</td>
        <td>{{cuser.firstName}}</td>
        <td>{{cuser.lastName}}</td>
        <!--<td>{{user.email}}</td>-->
        <td>{{cuser.roles}}</td>
        <td><button ng-click="remove(cuser)" class="btn btn-danger">Delete</button>
        <td><button ng-click="select(cuser)" class="btn btn-success">Edit</button>
    </tr>
</table>