<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="HomeController">
    <!--<h1 class="page-header">Welcome!</h1>-->
<div class="container">

    <div class="col-sm-4">
        <img src="images/sampleNYSE.JPG" class="img-responsive" alt="test background" width="300" height="236">
        <h2>GOOGLE</h2>
        <h3>{{GOOGquote.LastPrice}}</h3>
        <h3 class="text-success">{{GOOGquote.Change}} &nbsp; {{GOOGquote.ChangePercent}}</h3>

    </div>

    <div class="col-sm-4">
        <img src="images/sampleDOW.JPG" class="img-responsive" alt="test background" width="300" height="236">
        <h2>APPLE</h2>
        <h3>{{AAPLquote.LastPrice}}</h3>
        <h3 class="text-success">{{AAPLquote.Change}} &nbsp; {{GOOGquote.ChangePercent}}</h3>
    </div>
</div>



</div>

