<div class="col-sm-offset-1 main table-responsive"  ng-controller="PortfolioController">
    <h1 class="page-header">
        Portfolio
    </h1>



    <div>

        <div class="tab-content">

            <a href="#/search" class="btn btn-primary">Add Stock</a>
            <br>
            <br>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <td>
                        <!--<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon glyphicon-sort"></span></a>-->
                        <b>Company</b>
                    </td>

                    <td>
                        <!--<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon glyphicon-sort"></span></a>-->
                        <b>Live Price</b>
                    </td>

                    <td>
                        <!--<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon glyphicon-sort"></span></a>-->
                        <b>Change</b>
                    </td>

                    <td>
                        <!--<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon glyphicon-sort"></span></a>-->
                        <b>Inv. Price</b>
                    </td>

                    <td>
                        <!--<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon glyphicon-sort"></span></a>-->
                        <b>Quantity</b>
                    </td>

                    <td>
                        <!--<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon glyphicon-sort"></span></a>-->
                        <b>Overall Gain</b>
                    </td>

                    <td>
                        <!--<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon glyphicon-sort"></span></a>-->
                        <b>Overall Gain %</b>
                    </td>

                    <td>
                        <!--<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon glyphicon-sort"></span></a>-->
                        <b>Latest Value</b>
                    </td>

                    <td>
                        <!--<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon glyphicon-sort"></span></a>-->
                        <b>Action</b>
                    </td>
                </tr>


                <tr ng-show="stock">
                    <td>{{stock.Symbol}}</td>
                    <td></td>
                    <td></td>
                    <td><input ng-model="stock.PricePurchased"  type="text" class="form-control" id="pricePurchased" placeholder="Price Purchased"></td>
                    <td><input ng-model="stock.Quantity"  type="text" class="form-control" id="quantity" placeholder="No. of stocks"></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td>
                        <!--<a ng-click="addStock(stock)" class="btn btn-small"><span class="glyphicon glyphicon glyphicon-plus"></span></a>-->
                        <a ng-click="updateStock(stock)" class="btn btn-small"><span class="glyphicon glyphicon-ok"></span></a>
                    </td>
                </tr>

                </thead>

                <tbody>
                <tr ng-repeat="stock in stocks">
                    <td>

                        <a href="#/detail/{{stock.Symbol}}">
                            {{stock.Name}}
                        </a>
                    </td>
                    <td>{{stock.livePrice}}$</td>
                    <td>{{stock.change}}$</td>
                    <td>{{stock.PricePurchased}}$</td>
                    <td>{{stock.Quantity}}</td>
                    <td>{{stock.overallGain}}$</td>
                    <td>{{stock.overallGainPercent}}%</td>
                    <td>{{stock.latestValue}}$</td>
                    <td class="nowrap">
                        <a ng-click="deleteStock($index)" class="btn btn-small"><span class="glyphicon glyphicon glyphicon-remove"></span></a>
                        <a ng-click="selectStock($index)" class="btn btn-small"><span class="glyphicon glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
                </tbody>



            </table>

        </div>

    </div>

</div>
